@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body {
    background-color: transparent;
}

header {
    position: relative;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.2;
    font-family: 'Product Sans', sans-serif;
}

:root {
    --nav-height: 60px;
    --footer-height: 60px;
}

main {
    padding-top: var(--nav-height);
}

footer {
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #fff;
}

nav {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    z-index: 4;
    background-color: #fff;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}

nav .nav-brand {
    cursor: pointer;
}

nav .nav-content ul {
    list-style-type: none;
    display: flex;
}

nav .nav-content ul li {
    padding-left: 16px;
}

nav .nav-content ul li a {
    color: #444;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}

.nav-mobile-btn,
.nav-mobile {
    display: none;
}

@media screen and (max-width:580px) {
    nav .nav-content ul {
        display: none;
    }

    .nav-mobile-btn {
        display: block;
        cursor: pointer;
    }


    .nav-mobile {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -50vw;
        height: 100vh;
        width: 50vw;
        background-color: #fff;
        z-index: 7;
        box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.1);
    }

    .nav-mobile .nav-content-mobile {
        padding: 16px;
    }

    .nav-content-mobile .cross {
        float: right;
        cursor: pointer;
    }

    .nav-content-mobile ul {
        padding-top: 20px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    .nav-content-mobile ul li {
        padding: 16px;
    }

    .nav-content-mobile ul li a {
        color: #444;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
    }
}